
* {
    font-size: 10px;
}

h1 {
 text-align: center;
 background-color: blueviolet;
 font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}
img {
    width: 50px;
    height: 50px;
}

.blankspace {
    margin-right: 200px;
}

.display {
    border: solid;
}

.card {
    font-size: 7px;
    color: white;
    background-color: black;
    margin-right: 21px;
    margin-top: 8px;
    width: 50px;
    
}

.card-body {
    width: 50px;
}

.form-control {
    margin-bottom: 8px;
    font-size: 2rem;
}

.prior {
    margin-right: 90px;
}

.text-left {
    text-align: left;
}

.btn {
    font-size: 2rem;
    margin-bottom: 6px;
}