


h1 {
 text-align: center;
 background-color: blue;
}

h5 {
    font-size: 9px;
}

.display {
    border: solid;
}

.card {
    font-size: 7px;
    color: white;
    background-color: purple;
    margin-right: 4px;
    margin-top: 8px;
    
}

.prior {
    margin-right: 35px;
}